# Dependencies
node_modules/
*/node_modules/

# Environment Variables (Protect your MongoDB Atlas password)
.env
.env.local
.env.*.local
server/.env
client/.env

# Production Build outputs
dist/
build/
client/dist/

# Local database directory
server/data/
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
